In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
from scipy.stats import skew
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from keras.callbacks import EarlyStopping

In [ ]:
import warnings 
warnings.filterwarnings("ignore")

In [ ]:
raw_data_train=pd.read_csv("/content/thyroidDF.csv")
raw_data_test=pd.read_csv("/content/thyroidDF.csv")

In [ ]:
sp_train=raw_data_train.copy(deep=True)
sp_test=raw_data_test.copy(deep=True)

In [ ]:
sp_train

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,NaN,f,NaN,f,NaN,f,NaN,other,-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,128.0,f,NaN,f,NaN,f,NaN,other,-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,11.0,other,-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,26.0,other,-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,36.0,other,S,840803047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9167,56,M,f,f,f,f,f,f,f,f,...,64.0,t,0.83,t,77.0,f,NaN,SVI,-,870119022
9168,22,M,f,f,f,f,f,f,f,f,...,91.0,t,0.92,t,99.0,f,NaN,SVI,-,870119023
9169,69,M,f,f,f,f,f,f,f,f,...,113.0,t,1.27,t,89.0,f,NaN,SVI,I,870119025
9170,47,F,f,f,f,f,f,f,f,f,...,75.0,t,0.85,t,88.0,f,NaN,other,-,870119027
9171,31,M,f,f,f,f,f,f,f,t,...,66.0,t,1.02,t,65.0,f,NaN,other,-,870119035

In [ ]:
sp_train.shape

(9172, 31)

In [ ]:
sp_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9172 entries, 0 to 9171
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  9172 non-null   int64
 1   sex                  8865 non-null   object
 2   on_thyroxine         9172 non-null   object
 3   query_on_thyroxine   9172 non-null   object
 4   on_antithyroid_meds  9172 non-null   object
 5   sick                 9172 non-null   object
 6   pregnant             9172 non-null   object
 7   thyroid_surgery      9172 non-null   object
 8   I131_treatment       9172 non-null   object
 9   query_hypothyroid    9172 non-null   object
 10  query_hyperthyroid   9172 non-null   object
 11  lithium              9172 non-null   object
 12  goitre               9172 non-null   object
 13  tumor                9172 non-null   object
 14  hypopituitary        9172 non-null   object
 15  psych                9172 non-null   object
 16  TSH_measured         9172 non-null   object
 17  TSH                  8330 non-null   float64
 18  T3_measured          9172 non-null   object
 19  T3                   6568 non-null   float64
 20  TT4_measured         9172 non-null   object
 21  TT4                  8730 non-null   float64
 22  T4U_measured         9172 non-null   object
 23  T4U                  8363 non-null   float64
 24  FTI_measured         9172 non-null   object
 25  FTI                  8370 non-null   float64
 26  TBG_measured         9172 non-null   object
 27  TBG                  349 non-null    float64
 28  referral_source      9172 non-null   object
 29  target               9172 non-null   object
 30  patient_id           9172 non-null   int64
dtypes: float64(6), int64(2), object(23)
memory usage: 2.2+ MB

In [ ]:
sp_train.isna().sum()

age                       0
sex                     307
on_thyroxine              0
query_on_thyroxine        0
on_antithyroid_meds       0
sick                      0
pregnant                  0
thyroid_surgery           0
I131_treatment            0
query_hypothyroid         0
query_hyperthyroid        0
lithium                   0
goitre                    0
tumor                     0
hypopituitary             0
psych                     0
TSH_measured              0
TSH                     842
T3_measured               0
T3                     2604
TT4_measured              0
TT4                     442
T4U_measured              0
T4U                     809
FTI_measured              0
FTI                     802
TBG_measured              0
TBG                    8823
referral_source           0
target                    0
patient_id                0
dtype: int64

In [ ]:
missing_values=['HomePlanet','CryoSleep','Cabin','Destination','Age','VIP','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck','Name']

In [ ]:
for i in missing_values:
  print(f'Percentage of missing {i} records is %.2f%%' %((sp_train[i].isna().sum()/sp_train.shape[0])*100))

KeyError: ignored

In [ ]:
def model(mymodel):
    mymodel.fit(xtrain,ytrain)
    ypred=mymodel.predict(xtest)
    
    train=mymodel.score(xtrain,ytrain)
    test=mymodel.score(xtest,ytest)
    
    print(f'testing accuracy:{test}\n\n')
    print(classification_report(ytest,ypred))
    return mymodel

In [ ]:
sp_train=sp_train.iloc[:train_len:]
sp_test=sp_train.iloc[train_len:,:]

NameError: ignored

In [ ]:
for i in col:
    percentage=(sp_train[i].value_counts(normalize=True)*100)
    ax=sns.barplot(x=percentage.index,y=percentage.values,palette='YlOrRd_r')

    for index, value in enumerate(percentage.index):
        ax.text(index,percentage[index]+1, f"{percentage[index]:.2f}%",color='black',ha='center',fontweight='bold')
        plt.title(f'percentage of {i} values', fontweight='bold')
        plt.xlabel('values',fontweight='bold')
        plt.ylabel('percentage',fontweight='bold')
        plt.ylim(0,120)    
    
    print(percentage)
    plt.show();

NameError: ignored

In [ ]:
train_len=len(sp_train)
df=pd.concat([sp_train,sp_test],axis=0)
df=df.reset_index(drop=True)
df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,NaN,f,NaN,f,NaN,f,NaN,other,-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,128.0,f,NaN,f,NaN,f,NaN,other,-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,11.0,other,-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,26.0,other,-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,36.0,other,S,840803047

In [ ]:
df.isna().sum()

age                        0
sex                      614
on_thyroxine               0
query_on_thyroxine         0
on_antithyroid_meds        0
sick                       0
pregnant                   0
thyroid_surgery            0
I131_treatment             0
query_hypothyroid          0
query_hyperthyroid         0
lithium                    0
goitre                     0
tumor                      0
hypopituitary              0
psych                      0
TSH_measured               0
TSH                     1684
T3_measured                0
T3                      5208
TT4_measured               0
TT4                      884
T4U_measured               0
T4U                     1618
FTI_measured               0
FTI                     1604
TBG_measured               0
TBG                    17646
referral_source            0
target                     0
patient_id                 0
dtype: int64

In [ ]:
age_median=df['age'].median()

In [ ]:
df['age'].fillna(age_median,inplace=True)

In [ ]:
sp_train=df.iloc[:train_len:]
sp_test=df.iloc[train_len:,:]

In [ ]:
x=sp_train.drop(['goitre'],axis=1)
print(x.head())
y=sp_train['goitre']
print(y.head())

   age sex on_thyroxine query_on_thyroxine on_antithyroid_meds sick pregnant  \
0   29   F            f                  f                   f    f        f
1   29   F            f                  f                   f    f        f
2   41   F            f                  f                   f    f        f
3   36   F            f                  f                   f    f        f
4   32   F            f                  f                   f    f        f

  thyroid_surgery I131_treatment query_hypothyroid  ...    TT4 T4U_measured  \
0               f              f                 t  ...    NaN            f
1               f              f                 f  ...  128.0            f
2               f              f                 f  ...    NaN            f
3               f              f                 f  ...    NaN            f
4               f              f                 f  ...    NaN            f

  T4U FTI_measured FTI TBG_measured   TBG referral_source  target patient_id
0 NaN            f NaN            f   NaN           other       -  840801013
1 NaN            f NaN            f   NaN           other       -  840801014
2 NaN            f NaN            t  11.0           other       -  840801042
3 NaN            f NaN            t  26.0           other       -  840803046
4 NaN            f NaN            t  36.0           other       S  840803047

[5 rows x 30 columns]
0    f
1    f
2    f
3    f
4    f
Name: goitre, dtype: object

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=8)

In [ ]:
def model(mymodel):
    mymodel.fit(xtrain,ytrain)
    ypred=mymodel.predict(xtest)
    
    train=mymodel.score(xtrain,ytrain)
    test=mymodel.score(xtest,ytest)
    
    print(f'testing accuracy:{test}\n\n')
    print(classification_report(ytest,ypred))
    return mymodel

In [ ]:
es = EarlyStopping(monitor='val_loss', mode='min', patience=30)

import numpy as np

In [ ]:
col1=['Transported','HomePlanet','Destination']

In [ ]:
train_len=len(sp_train)
df=pd.concat([sp_train,sp_test],axis=0)
df=df.reset_index(drop=True)
df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,NaN,f,NaN,f,NaN,f,NaN,other,-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,128.0,f,NaN,f,NaN,f,NaN,other,-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,11.0,other,-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,26.0,other,-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,36.0,other,S,840803047

In [ ]:
age_median=df['age'].median()

In [ ]:
df['age'].fillna(age_median,inplace=True)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder
from scipy.stats import skew
from sklearn.model_selection import train_test_split

from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from keras.callbacks import EarlyStopping

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(max_depth==2,n_estimators=200)
rc/rf=rf.fit

In [ ]:
xgboost=model(XGBClassifier())

TypeError: ignored

In [ ]:
lr=model(LogisticRegression(max_iter=60))

TypeError: ignored

In [ ]:
from sklearn import preprocessing
# label_encoder object knows how to understand word labels.
label_encoder_random_forest = preprocessing.LabelEncoder()
# Encode labels in column 'labels'.
df_transformed_label['labels']=label_encoder_random_forest.fit_transform(df_transformed_label)
# we will save the encoder as pickle to use when we do the prediction.We will need to decode the predcited values
# back to original
file = "label_encoder_random_forest.pickle"pickle.dump(label_encoder_random_forest, open(file, "wb"))df_transformed_label['labels'].unique()

SyntaxError: ignored

In [ ]:
df_hypo = pd.read_csv('/content/thyroidDF.csv', names = columns, na_values =['?'], index_col = False)
df_hyper = pd.read_csv('/content/thyroidDF.csv', names = columns, na_values =['?'], index_col = False)
df_hypo[['hypo_class','id']] = df_hypo.labels.str.split("|",expand =True)
df_hypo.drop('labels', axis = 1, inplace = True)
df_hyper[['hyper_class','id']] = df_hyper.labels.str.split("|",expand= True)
df_hyper.drop('labels', axis = 1, inplace = True)
df_hypo['hypo_class'] = df_hypo['hypo_class'].str.replace('.', '')
df_hyper['hyper_class'] = df_hyper['hyper_class'].str.replace('.', '')

NameError: ignored

In [ ]:
rf=model(RandomForestClassifier())

TypeError: ignored

In [ ]:
xgb=model(XGBClassifier())

TypeError: ignored